{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * Add following to settings.php:
 * $settings['twig_sandbox_whitelisted_methods'] = [
 *   // Defaults:
 *   'id',
 *   'label',
 *   'bundle',
 *   'get',
 *   '__toString',
 *   'toString',
 *   // Additions:
 *   'toUrl',
 *   'getValue',
 *   'getString',
 * ];
 *
 * @ingroup themeable
 */
#}
{% import "@cca_base/views/views-view-fields.html.twig" as views_view_fields %}
{% set entity = row._object.getValue() %}
{# {% set url = entity.toUrl().toString() %} #}
{#
  Define what shouldn't be displayed in extra fields 
  - title: Explicitly added in .search-main
  - sfu_ui_related_thumbnail: Explicitly added in .search-thumbnail
  - counter: Don't want to show
  - field_description: Either description or excerpt is explicitly displayed in .search-main
  - search_api_excerpt: Either description or excerpt is explicitly displayed in .search-main
#}
{%
  set other_fields = fields|without(
    'counter',
    'cca_ui_related_thumbnail',
    'field_image',
    'field_media_image',
    'title',
    'search_api_excerpt',
    'field_description',
    'field_tags',
    'tags',
    'status'
  )
%}
{# {{ devel_breakpoint() }} #}

{# Example of getting the value of a field. getString() can also be used. #}
{# {{ dump(entity.fields.field_edtf_date.getValue()) }} #}

<div class="row">
  <div class="search-title col-12">
    {%- if not entity.isPublished() -%}
      <span class="node__status badge badge-warning" aria-label="Status message" role="contentinfo">
        <span class="visually-hidden">{%- trans %}This node is {% endtrans %}</span>{% trans %}Unpublished{% endtrans -%}
      </span>
    {%- endif -%}
    {{ views_view_fields.render_field(fields.title) }}
  </div>

  {% if hasThumbnail %}
    <div class="search-thumbnail col-12 col-sm-3">
      <a href="{{ entity.toUrl().toString() }}" title="View {{ entity.label }}">
        {{ views_view_fields.render_field(fields.cca_ui_related_thumbnail) }}
        {{ views_view_fields.render_field(fields.field_media_image) }}
      </a>
    </div>
  {% endif %}

  {% if hasThumbnail %}
    <div class="search-main col-12 col-sm-9">
  {% else %}
    <div class="search-main col-12">
  {% endif %}

    {# Show either excerpt or description #}
    {% if fields.search_api_excerpt.raw %}
      {{ views_view_fields.render_field(fields.search_api_excerpt) }}
    {% else %}
      {{ views_view_fields.render_field(fields.field_description) }}
    {% endif %}

    {{ views_view_fields.render_field(fields.field_tags) }}

    {# Show other fields that are defined in the view #}
    {% for field in other_fields -%}
      {{ views_view_fields.render_field(field) }}
    {%- endfor %}
  </div>
</div>
